.user-page[b-7629075l6r] {
    padding: 20px;
    color: #333;
    font-family: Arial, sans-serif;
}

.page-header h1[b-7629075l6r] {
    font-size: 2em;
    color: #4B0082; /* Indigo color for a fantasy feel */
    margin-bottom: 10px;
}
